*{
    background-color: rgb(207, 248, 234);
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a{
    font-style: italic;
}

img{
    display: block;
    margin: 0 auto;
    mix-blend-mode: multiply;
}

h3{
    font-style: italic;
}